@media screen and (min-width:600px) and (max-width:992px) {
    .hide-md {
        display: none;
    }
    .menu-bar{
        display: block;
        font-size: 30px;
    }
}

@media screen and (max-width:600px) {

    .container{
        max-width: 600px;
        width: 92%;
        margin: 0 auto;
        margin-bottom: 50px;

    }
    .section-heading{
        
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 15px;
    }
    .hide-md {
        display: none;
    }
    .menu-bar{
        display: block;
        font-size: 30px;
    }
    .search-container{
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.30);
        border-radius: 6px;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
}
.search-container input, select, button{
    width: 80%;
    margin: 0 auto;

}
.search-container button{
    margin: 0 auto;
   
}
.banner > h1{
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
    padding-top: 15px;
    padding-bottom: 20px;
}
.banner > p {
    max-width: 300px;
    margin: 0 auto;
    font-size: 0.8rem;
    color: #FFF;
    padding-bottom: 20px;
}
.banner-field{
    padding-bottom: 24px;
}

.popular-tour{
    flex-direction: column;
    gap: 20px;
}
.popular-tour-text{
    width: 90%;
}
.popular-tour-img {
    width: 100%;
    margin: 0 auto;
}
.popular-tour-img > img{
    width: 100%;
}

.popular-tour-text > p{
    padding-bottom: 15px;
}
.popular-tour-text > p, ul{
    font-size: .8rem;
    max-width: 550px;
}
.popular-tour-text > ul {
    padding-left: 10px;
    
}
.popular-tour-text > ul > li{
    padding-bottom: 20px;
}

.services p{
    padding-bottom: 15px;
}
.service-card-1, .service-card-2, .service-card-3{
    flex-basis: 100%;
}


.destination > p{
    padding-bottom: 20px;
}

.destination-img-container{
    grid-template-columns: repeat(1, 12fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
}
.destination-img-container img{
    width: 100%
}
.destination-image-1{
    grid-column: 1/ span 12;
    grid-row: 1 / span 1;
}
.destination-image-2{
    grid-column: 1/ span 12;
    grid-row: 2/ span 1;
}
.destination-image-3{
    grid-column: 1/ span 12;
    grid-row: 3/ span 1;
}
.destination-image-4{
    grid-column: 1/ span 12;
    grid-row: 4/ span 1;
}
.destination-image-5{
    grid-column: 1/ span 12;
    grid-row: 5/ span 1;
}
.destination-image-6{
    grid-column: 1/ span 12;
    grid-row: 6/ span 1;
}
.destination-image-7{
    grid-column: 1/ span 12;
    grid-row:7/ span 1;
}

.newsletter{
    flex-direction: column;
    gap: 20px;
}
.newsletter-text {
    width: 100%;
}
.newsletter-text > h2{
    font-size: 1.1rem;
    padding-bottom: 15px;
}
.newsletter-text > p{
    padding-bottom: 20px;
}
.newsletter-img, .nature-img{
    width: 100%;
}
.newsletter-img > img{
    width: 100%;
}
.nature-img > img{
    width: 100%;
}
.sale{
    width: 180px;
    height: 70px;
    top: 61%;
    left: 57%;
}
.sale > h2{
    font-size: 1rem;
}
.sale > p{
    font-size: 0.8rem;
}
.deals > p{
    max-width: 500px;
}
.deals-bg, .deals-bg-2{
    padding: 30px;
    justify-content: center;
    margin-bottom: 10px;
}

.deals-package {
    flex-wrap: wrap;
    padding-bottom: 10px;
    gap:10px;
}
.deals-package > div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.deals-package > div > p{
    padding-top: 5px;
}
.Packages-div{
    max-width: 540px;
    height: 320px;
    padding: 20px;
}
.Packages-div > h2,p,h3{
    padding-bottom: 2px;
}
.btn-hide{
    display: none;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.single-review{
    flex-basis: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.btn-div{
    display: flex;
    justify-content: right;
    margin-top: 10pxpx;
    margin-right: 0px;
}
}